<%- include('../partials/header') %>
<div class="row" style="height:100%;">
    <div class="col-7">
<!--        <img style="height:100%" src="images/register_bg2.jpg" alt="">-->
        <img style="height:100%;width: 100%" src="images/slider/training-3.jpg" alt="">
    </div>
    <div class="col-5">
        <div style="margin-left:10rem; margin-top: 3rem ">

        </div>
        <br>
        <div class="" style="margin-left:10rem; margin-top: 2rem ">

            <div class="card" style="width:27rem">
                <div class="card-body">
                    <h5 class="card-title">Student Registration</h5>
                    <p class="card-text"></p>
                    <a href="/ngoRegistration" class="btn btn-primary">Register</a>
                </div>

            </div>
        </div>
    </div>
</div>


<%- include('../partials/footer') %>
