<%- include('../partials/header') %>
<div class="content">
    <div class="form-layout1">

        <div class="inner-form">
            <h1>REGISTER</h1>
            <div class="container">

                <form action="/testform" method="post">
                    <div class="form-group">
                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            <input type="checkbox" name="category" class="btn-check" id="btncheck1" autocomplete="off" value="CheckBox 1">
                            <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>

                            <input type="checkbox" name="category" class="btn-check" id="btncheck2" autocomplete="off" value="CheckBox 2">
                            <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>

                            <input type="checkbox" name="category" class="btn-check" id="btncheck3" autocomplete="off" value="CheckBox 3">
                            <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>
                        </div>
                    </div>



                    <button style="margin-left:44rem;background-color: #045762" type="submit"  class="btn btn-primary">Register</button>

                </form>

            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer')%>