<%- include('../partials/header') %>
<div class="content">
    <div class="form-layout1">

        <div class="inner-form">
            <h1>REGISTER</h1>
            <div class="container">

                <form action="/ngoRegistration" method="post">
                    <div class="form-group">
                        <div class="row row-cols-2 justify-content-between">

                            <div class="form-group row">
                                <label for="ngoName">Name</label>
                                <input type="text" name="ngoName" class="form-control" required id="ngoName">
                            </div>
                            <div class="form-group row">
                                <label for="classification">Year</label>
                                <select class="form-select" name="classification" id="classification" aria-label="Default select example">
                                    <option  selected>Open this select menu</option>
                                    <option  value="K-office">K-office</option>
                                    <option  value="SECOND">MVIT/NMIT</option>
                                    <option  value="THIRD">THIRD</option>
                                    <option  value="FOURTH">FOURTH</option>
                                </select>
                            </div>

                            <div class="form-group row">
                                <label for="contact">Contact</label>
                                <input type="tel" class="form-control" minlength="10" maxlength="10" name="contact" required id="contact">
                            </div>
                            <div class="form-group row">
                                <label for="description">Why Do You Need Katalyst</label>
                                <textarea type="text" name="description" class="form-control" id="description" required ></textarea>
                            </div>
                            <div class="form-group row">
                                <label for="ngoLink">Linkedin Link</label>
                                <input type="text" name="ngoLink" class="form-control" id="ngoLink" required >
                            </div>
                            <div class="form-group row">
                                <label for="password">Password</label>
                                <input type="password"  minlength="6" name="password" class="form-control" required id="password">
                            </div>
                            <div class="form-group row">
                                <label for="confirmPassword">Confirm Password</label>
                                <input type="password" minlength="6" name="confirmPassword" class="form-control" required id="confirmPassword">
                            </div>
                            <div class="form-group row">
                                <label for="type">Type</label>
                                <input type="text" name="type" id="type" value="Student" readonly class="form-control">
                            </div>
                        </div>
                        <hr>
                        <h3 style="margin-bottom: 1.5rem">Category</h3>
                        <div class="form-group row">
                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                <div class="row row-cols-2 justify-content-between">
                                    <div class="form-check">
                                        <input type="checkbox" name="category" class="form-check-input" id="Computer_science" autocomplete="off" value="Computer_science">
                                        <label class="form-check-label" for="Computer_science">Computer Science</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" name="category" class="form-check-input" id="Electrical" autocomplete="off" value="Electrical">
                                        <label class="form-check-label" for="Electrical">Electrical</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" name="category" class="form-check-input" id="Electronics" autocomplete="off" value="Electronics">
                                        <label class="form-check-label" for="Electronics">Electronics</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" name="category" class="form-check-input" id="Civil" autocomplete="off" value="Civil">
                                        <label class="form-check-label" for="Civil">Civil</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <h3>Collefe Address</h3>
                        <div class="form-group row">
                            <label for="area">College name</label>
                            <input type="text" name="area" id="area" required  class="form-control">
                        </div>
                        <div class="row row-cols-2 justify-content-between">
                            <div class="form-group row">
                                <label for="city">City</label>
                                <input type="text" name="city" id="city" required class="form-control">
                            </div>
                            <div class="form-group row">
                                <label for="state">State</label>
                                <input type="text" name="state" id="state" required class="form-control">
                            </div>
                            <div class="form-group row">
                                <label for="classification">Hub</label>
                                <select class="form-select" name="classification" id="classification" aria-label="Default select example">
                                    <option  selected>Open this select menu</option>
                                    <option  value="FIRST">K-office</option>
                                    <option  value="MVIT/NMIT">MVIT/NMIT</option>
                                    <option  value="JSS">JSS</option>
                                    <option  value="KSIT">KSIT</option>
                                </select>
                            </div>
                        </div>
                        <span style="color: red; font-weight: bold"><%= err%></span>

                    </div>
                    <button style="margin-left:44rem;background-color: #045762" type="submit"  class="btn btn-primary">Register</button>

                </form>

            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer')%>
